title = "consultar_incapacidades"
url = "/consultar_incapacidades"
layout = "formularios"
description = "Lista de incapacidades."
is_hidden = 0
==
<?php

	function onStart(){
		$incapacidades_alerta = DB::table('incapacidades')
		->where('dias_acumulados','>', 20)
		->where('estado','=', 'Activa')
		->orderBy('id', 'desc')->paginate(15);
    	if(count($incapacidades_alerta)==0){
    		$this['coincidencias'] = "No hay incapacidades con alerta por días acumulados";
    	}else{
    		$this['alertas'] = $incapacidades_alerta;
    	}
	}

	function onConsulta(){
	    $incapacidades = DB::table('incapacidades')->where('cedula','=', input('cedula'))->orderBy('id', 'desc')->paginate(15);
    	if(count($incapacidades)==0){
    		$this['error'] = "No hay registros";
    	}else{
    		$this['incapacidades'] = $incapacidades;
    	}

	}
?>
==
{%if can('incapacidades') %}
	<div class="row">
		<div class="panel panel-primary"> 
			<div class="panel-heading"> 
				<h3 class="panel-title">CONSULTA DE INCAPACIDADES</h3>
			</div> 
			<div class="panel-body">
				<form data-request="onConsulta" data-request-update="incapacidades: '#resultado'">
					<div class="col-md-4">
						<label for="cedula">Cédula</label>
						<input type="text" id="cedula" name="cedula" class="form-control"/>
					</div>
					<div class="col-md-4">
						<input type="submit" id="consultar" name="consultar" value="Consultar" class=" btn btn-primary" style="margin-top:25px"/>
					</div>
					<div id="resultado">
						{% partial 'incapacidades' %}
					</div>
					{{ incapacidades.render|raw }}
				</form>
			</div> 
		</div>

		<!--div class="alert alert-info" role="alert"><p>CONSULTA DE INCAPACIDADES</p></div-->
		
	</div>
	<hr>
	<div class="row">
		<div class="panel panel-danger"> 
			<div class="panel-heading"> 
				<h3 class="panel-title">INCAPACIDADES EN ALERTA</h3>
			</div> 
			<div class="panel-body">
				<!--div class="alert alert-danger" role="alert"><p>INCAPACIDADES EN ALERTA</p></div-->	
				<table class="table table-hover ">
			        <thead> <tr> <th>Tipo</th> <th>Fecha inicio</th> <th>Fecha Final</th><th>Días Acumulados</th><th>EPS</th> <th>Diag.</th> <th>Acción</th>  </tr> </thead>
			        <tbody>
			            {% for alerta in alertas %}
			                <tr><td>{{ alerta.tipo_incapacidad }}</td><td>{{ alerta.fecha_inicial }}</td><td> {{ alerta.fecha_final }}</td><td>{{ alerta.dias_acumulados }}</td><td>{{ alerta.eps }}</td><td>{{ alerta.cod_dx|capitalize }}</td><td><a href="editar_incapacidad/{{ alerta.id }}">Ver</a></td></tr>
			            {% endfor %}
			        </tbody>
			    </table>
				{{ alertas.render|raw }}
			</div>
		</div>
	</div>
{% else %}
    {% partial 'acceso' %}
{% endif %}




