storage/framework/cache/*
storage/app/media/profesiogramas/*
storage/app/uploads/public/*
storage/cms/cache/*
storage/cms/combiner/assets/*
storage/cms/twig/*
storage/logs/system.log
storage/framework/sessions/*