[viewBag]
==

<table class="table table-hover ">
    <thead> <tr> <th>Empresa</th> <th>Nombres</th> <th>Teléfono</th> <th>Ext</th> <th>Correo</th> <th>Dirección</th>   </tr> </thead>
    <tbody>
        {% for empresa in empresas %}
        	{% if empresa.tipo == "empresa" %}            	
            	<tr><td>{{ empresa.empresa }}</td><td>{{ empresa.nombres }}</td><td>{{ empresa.telefono }}</td><td>{{ empresa.ext }}</td><td>{{ empresa.correo }}</td><td>{{ empresa.direccion }}</td></tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

<tr>{{ empresas.render|raw }}</tr>