[viewBag]
==
{% if mensaje_lc %}
    <p> {{ mensaje_lc }} </p>
    	<button id="regresar" name="regresar" type="submit" data-request="onRedirect"  class="btn btn-primary">regresar</button>
{% else %}
	{% if error %}
		<p> {{ error }} </p>
	{% endif %}
    	<button id="simpleContactSubmitButton" type="submit" class="btn btn-primary">Guardar</button>    	
    	<button id="regresar" name="regresar" type="submit" data-request="onRedirect"  class="btn btn-success">regresar</button>
    	{% if eliminar %}
    		<button id="simpleContactSubmitButton" type="submit" data-request="onDelete" data-request-confirm="Esta seguro de eliminar este registro?" class="btn btn-danger" data-request-update="envios_lc: '#result_envios'">Eliminar</button>
		{% endif %}
{% endif %}
