[viewBag]
==
{% if resultados > 0 %}
<table class="table table-hover ">
    <thead> <tr> <th>Num Guía</th><th>Fecha Envío</th><th>Creado por</th><th>Compañia</th> <th>Tipo</th> <th>Contenido</th> <th>Ciudad destino</th> <th>Transportadora</th><th>Acción</th></tr> </thead>
    <tbody>
        {% for nacional in nacionales %}        	
            <tr><td>{{ nacional.numero_guia }}</td><td>{{ nacional.fecha_envio }}</td><td>{{ nacional.creado_por }}</td><td>{{ nacional.compania }}</td><td>{{ nacional.tipo_envio }}</td><td>{{ nacional.contenido }}</td><td>{{ nacional.ciudad_destino }}</td><td>{{ nacional.empresa_transportadora }}</td><td><a href="editar_envio_nc/{{ nacional.id }}">Ver</a></td></tr>           	
        {% endfor %}
        
    </tbody>
</table>
<tr>{{ internos.render|raw }}</tr>
{% else %}
	<h4>No se encontraron registros asociados a la palabra "{{ palabra }}"</h4>
{% endif %}