[viewBag]
==
{% if mensaje %}
    <p> {{ mensaje }} </p>
    <div style="display:none"><input type="text" name="id_portada" id="id_portada" value="{{ id }}"/></div>
    <button id="perfiles" name="perfiles" type="submit" data-request="onPerfiles"  class="btn btn-success">Crear Perfiles</button>
    <button id="regresar" name="regresar" type="submit" data-request="onRegresar"  class="btn btn-primary">regresar</button>    
{% else %}  
	{% if error %}
		<p> {{ error }} </p>
	{% endif %}
    	<button id="simpleContactSubmitButton" type="submit" class="btn btn-primary">Guardar</button>
{% endif %}