[viewBag]
==
<div class="row">
	<a href="reportes" class="btn btn-success">Regresar</a>
	{% if resultados > 0 %}
		<input type="button" class="btn btn-info pull-right" value="Imprimir" onclick="imprimir('imprimir')"/>
	{% endif %}	
</div>
<hr>
{% if resultados > 0 %}
	
	<div id="imprimir" class="row">
		<table width="100%" style="border: double 4px #000;">
		    <tr >
		        <td width="25%" style="padding:10px">
		            <img src="/intranet_redes/themes/rainlab-vanilla/assets/images/october.png" width="50%"/>            
		        </td> 
		        <td width="50%" >
		            <label style="font-weight:bold;">REPORTE INCAPACIDADES:</label>
		       </td>
		       <td width="25%">
		            <label>Se recuperaron {{ resultados }} registros que coinciden.</label>
		       </td>
		        
		    </tr>
		</table>
		<br>
		<table class="table table-hover" width="100%">
		    <thead> <tr>
		    	<th style="border:solid 1px #000">Empresa</th> 
		    	<th style="border:solid 1px #000">Cédula</th> 
		    	<th style="border:solid 1px #000">Nombre</th> 
		    	<th style="border:solid 1px #000">Tipo</th> 
		    	<th style="border:solid 1px #000">Prorroga</th> 
		    	<th style="border:solid 1px #000">EPS</th>
		    	<th style="border:solid 1px #000">Fecha Inicial</th>
		    	<th style="border:solid 1px #000">Fecha Final</th>
		    	<th style="border:solid 1px #000">Salario</th>
		    	<th style="border:solid 1px #000">Valor prestación</th>
		    	<th style="border:solid 1px #000">Gestión</th>
		    	<th style="border:solid 1px #000">Valor reconocido</th>
		    	<th style="border:solid 1px #000">Cod Dx</th>
		    	<th style="border:solid 1px #000">Ciudad</th>
		    </tr> </thead>
		    <tbody>
		        {% for incapacidad in incapacidades %}        	
		            <tr>
		            	<td style="border:solid 1px #000">{{ incapacidad.empresa }}</td>
		            	<td style="border:solid 1px #000">{{ incapacidad.cedula }}</td>
		            	<td style="border:solid 1px #000">{{ incapacidad.nombres }} {{ incapacidad.apellidos }}</td>
		            	<td style="border:solid 1px #000">{{ incapacidad.tipo_incapacidad }}</td>
		            	<td style="border:solid 1px #000; text-align:center">{{ incapacidad.prorroga }}</td>
		            	<td style="border:solid 1px #000">{{ incapacidad.eps }}</td>
		            	<td style="border:solid 1px #000; text-align:center">{{ incapacidad.fecha_inicial }}</td>

		            	<td style="border:solid 1px #000">{{ incapacidad.fecha_final }}</td>
				    	<td style="border:solid 1px #000">{{ incapacidad.salario_basico }}</td>
				    	<td style="border:solid 1px #000">{{ incapacidad.valor_prestacion }}</td>
				    	<td style="border:solid 1px #000">{{ incapacidad.gestion }}</td>
				    	<td style="border:solid 1px #000">{{ incapacidad.valor_reconocido }}</td>
				    	<td style="border:solid 1px #000">{{ incapacidad.cod_dx }}</td>
				    	<td style="border:solid 1px #000">{{ incapacidad.ciudad }}</td>
		            </tr>           	
		        {% endfor %}						        
		    </tbody>
		</table>	
	</div>
{% else %}
	<label>No se encontraron registros asociados al fitro </label>
{% endif %}