title = "imprimir_perfiles"
url = "/imprimir_perfiles/:id?"
layout = "formularios"
is_hidden = 0
==
<?php
function onStart()
{
	$portada = Db::table('portada_perfiles')->where('id','=',$this->param('id'))->first(); 
    $this['portada'] = $portada;
    $this['id'] = $this->param('id');

    $perfiles = DB::table('perfil')->where('id_portada','=', $this->param('id'))->orderBy('id', 'desc')->get();
	if(count($perfiles)==0){
		$this['error'] = "No hay registros";
	}else{
		$this['perfiles'] = $perfiles;
	}
	
}
function onRedirect(){
	return Redirect::to('ver_perfiles/'.$this->param('id'));
}

?>
==

<script type="text/javascript">
    function imprimir(div){
    var ficha=document.getElementById(div);
    var ventimp=window.open(' ','popimpr');
    ventimp.document.write(ficha.innerHTML);
    ventimp.document.close();
    ventimp.print();
    ventimp.close();
}
</script>
{% if can('guia_cliente') %}
	<div class="row">
		<div class="col-md-3">
			<input type="button" class="btn btn-success" value="Imprimir" onclick="imprimir('imprimir')"/>			
			<input type="button" class="btn btn-info" value="Regresar" data-request="onRedirect"/>
		</div>		
	</div>
	<div id="imprimir">
		<table width="100%" style="border: double 4px #000;">
		    <tr >
		        <td width="25%" style="padding:10px">
		            <img src="../themes/rainlab-vanilla/assets/images/october.png" width="50%"/>            
		        </td> 
		        <td width="50%"  style="text-align:center">
		            <label style="font-weight:bold">ASOCIAR PERFILES DE CARGO</label>
		       </td>
		       <td width="25%" style="padding:10px">
		            
		        </td> 
		    </tr>
		</table>
		<br>
		<table width="100%" style="border: solid 1px #000;">		    
		    <tr> 
		       <td style="border: solid 1px #000;padding:3px" colspan="2">
		            <label  style="font-weight:bold">Misión:</label>
		            <span>{{ portada.mision }}</span>
		       </td>
		    </tr>
		    <tr>
		       <td style="border: solid 1px #000;padding:3px" colspan="2">
		            <label  style="font-weight:bold">Visión:</label>
		            <span>{{ portada.vision }}</span>
		       </td> 
		    </tr>
		    <tr>
		       <td style="border: solid 1px #000;padding:3px" colspan="2">
		            <label  style="font-weight:bold">Valores corporativos:</label>
		            <span>{{ portada.valores }}</span>
		       </td> 
		    </tr>
		    <tr>
		       <td style="border: solid 1px #000;padding:3px" colspan="2">
		            <label  style="font-weight:bold">Qué cultura organizacional se observa:</label>
		            <span>{{ portada.cultura }}</span>
		       </td> 
		    </tr>

		    <tr>
		       <td style="border: solid 1px #000;padding:3px" colspan="2">
		            <label  style="font-weight:bold">Clima laboral:</label>
		            <span>{{ portada.clima_laboral }}</span>
		       </td> 
		    </tr>
		    <tr>
		       <td style="border: solid 1px #000;padding:3px" colspan="2">
		            <label  style="font-weight:bold">Ubicación:</label>
		            <span>{{ portada.ubicacion }}</span>
		       </td> 
		    </tr>
		    <tr>
		       <td style="border: solid 1px #000;padding:3px" colspan="2">
		            <label  style="font-weight:bold">Como llegar?:</label>
		            <span>{{ portada.como_llegar }}</span>
		       </td> 
		    </tr>
		</table>
		<br>
		<table width="100%" style="border: solid 1px #000;">	
			<tr>
		        <td style="padding:3px; border: solid 1px #000;text-align:center" colspan="2" >
		            <label style="font-weight:bold">QUE NORMAS IMPLICITAS EXISTEN EN CUANTO A</label>
		        </td>
		    </tr>
		    <tr>
		       <td style="border: solid 1px #000;padding:3px" colspan="2">
		            <label  style="font-weight:bold">Bienestar:</label>
		            <span>{{ portada.bienestar }}</span>
		       </td> 
		    </tr>
		     <tr>
		       <td style="border: solid 1px #000;padding:3px" colspan="2">
		            <label  style="font-weight:bold">Turnos:</label>
		            <span>{{ portada.turnos }}</span>
		       </td> 
		    </tr>
		     <tr>
		       <td style="border: solid 1px #000;padding:3px" colspan="2">
		            <label  style="font-weight:bold">Tiempos de trabajo:</label>
		            <span>{{ portada.tiempos }}</span>
		       </td> 
		    </tr>
		    <tr>
		       <td style="border: solid 1px #000;padding:3px" colspan="2">
		            <label  style="font-weight:bold">Descansos:</label>
		            <span>{{ portada.descansos }}</span>
		       </td> 
		    </tr>

		    <tr>
		       <td style="padding:3px" width="50%">
		            <label  style="font-weight:bold">Horas extras:</label>
		            <span>{{ portada.horas_extras }}</span>
		       </td> 
		       <td style="padding:3px" width="50%">
		            <label  style="font-weight:bold">Uniformes:</label>
		            <span>{{ portada.uniformes }}</span>
		       </td> 
		    </tr>
		    <tr>
		       <td style="padding:3px" width="50%">
		            <label  style="font-weight:bold">Manejo de celulares:</label>
		            <span>{{ portada.manejo_celular }}</span>
		       </td> 
		       <td style="padding:3px" width="50%">
		            <label  style="font-weight:bold">Cabello:</label>
		            <span>{{ portada.cabello }}</span>
		       </td> 
		    </tr>
		    <tr>
		       <td style="padding:3px" width="50%">
		            <label  style="font-weight:bold">Maquillaje:</label>
		            <span>{{ portada.maquillaje }}</span>
		       </td> 
		       <td style="padding:3px" width="50%">
		            <label  style="font-weight:bold">Atuendo:</label>
		            <span>{{ portada.atuendo }}</span>
		       </td> 
		    </tr>
		    <tr>
		       <td style="border: solid 1px #000;padding:3px" colspan="2">
		            <label  style="font-weight:bold">Otros:</label>
		            <span>{{ portada.otros }}</span>
		       </td> 
		    </tr>
		    
		</table>		
		<br>
		<table width="100%" style="border: solid 1px #000;">	
			<tr>
		        <td style="padding:3px; border: solid 1px #000;text-align:center" colspan="3" >
		            <label style="font-weight:bold">AREAS COMUNES</label>
		        </td>
		    </tr>
		    <tr>
		       <td style="padding:3px" >
		            <label  style="font-weight:bold">Hay Parqueadero?:</label>
		            <span>{{ portada.parqueadero }}</span>
		       </td> 
		       <td style="padding:3px" >
		            <label  style="font-weight:bold">Hay casino?:</label>
		            <span>{{ portada.casino }}</span>
		       </td> 
		       <td style="padding:3px" >
		            <label  style="font-weight:bold">Hay ruta?:</label>
		            <span>{{ portada.ruta }}</span>
		       </td> 
		    </tr>
		    <tr>
		        <td style="padding:3px; border: solid 1px #000;text-align:center" colspan="3" >
		            <label style="font-weight:bold">CONDICIONES AMBIENTALES</label>
		        </td>
		    </tr>
		    <tr>
		       <td style="padding:3px" >
		            <label  style="font-weight:bold">Ruido?:</label>
		            <span>{{ portada.ruido }}</span>
		       </td> 
		       <td style="padding:3px" >
		            <label  style="font-weight:bold">Ventilacion?:</label>
		            <span>{{ portada.ventilacion }}</span>
		       </td> 
		       <td style="padding:3px" >
		            <label  style="font-weight:bold">Iluminación?:</label>
		            <span>{{ portada.iluminacion }}</span>
		       </td> 
		    </tr>
		    <tr>
		       <td style="padding:3px" >
		            <label  style="font-weight:bold">Orden?:</label>
		            <span>{{ portada.orden }}</span>
		       </td> 
		       <td style="padding:3px" >
		            <label  style="font-weight:bold">Temperatura?:</label>
		            <span>{{ portada.temperatura }}</span>
		       </td> 
		       <td style="padding:3px" >
		            
		       </td> 
		    </tr>
		</table>  
		<br>
		<table width="100%" style="border: solid 1px #000;">	
			<tr>
		        <td style="padding:3px; border: solid 1px #000;text-align:center" >
		            <label style="font-weight:bold">FORTALEZAS DE LA EMPRESA</label>
		        </td>
		    </tr>
		    <tr>
		       <td style="padding:3px" >		            
		            <span>{{ portada.fortalezas }}</span>
		       </td> 		       
		    </tr>
		</table>
		<br>
		<table width="100%" style="border: solid 1px #000;">	
			<tr>
		        <td style="padding:3px; border: solid 1px #000;text-align:center" >
		            <label style="font-weight:bold">PERFILES DE CARGO ASOCIADOS</label>
		        </td>
		    </tr>
		</table>
        <table  style="border:solid 1px #000" width="100%">
	        <thead><tr><th  style="border:solid 1px #000">Cargo</th><th  style="border:solid 1px #000">Fecha actualización</th><th  style="border:solid 1px #000">Salario</th><th  style="border:solid 1px #000">Horario</th></tr></thead>
	        <tbody>
	            {% for perfil in perfiles %}
	                <tr><td style="border:solid 1px #000">{{ perfil.cargo }}</td><td style="border:solid 1px #000">{{ perfil.fecha_actualizacion }}</td><td style="border:solid 1px #000"> {{ perfil.salario }}</td><td style="border:solid 1px #000">{{ perfil.horario }}</td></tr>
	            {% endfor %}
	        </tbody>
	    </table>
	</div>

{% else %}
    {% partial 'acceso' %}
{% endif %}