title = "editar_envio_nc"
url = "/editar_envio_nc/:id?"
layout = "formularios"
description = "editar envios nacionales"
is_hidden = 0
==
<?php
function onStart(){
	$nacional = Db::table('envios_nacionales')->where('id','=', $this->param('id'))->first();
	$this['nacional'] = $nacional;
	$this['eliminar'] = "OK";
}
function onRedirect(){
	return Redirect::to('nacionales');
}
function onDelete(){
    Db::table('envios_nacionales')->where('id', '=', $this->param('id'))->delete();
    $this['mensaje'] = "Envío eliminado correctamente";
}
function onUpdate(){
	$validator = false;
    if(input('fecha_envio')==""){   
        $this['error'] = "Debe ingresar la fecha del envío.";
    }elseif(input('ciudad_destino')==""){   
        $this['error'] = "Debe indicar un destino del envío.";
    }else{
       $validator= true;
    }

    if ($validator) {
        Db::table('envios_nacionales')->where('id', $this->param('id'))->update(
            ['fecha_envio' => input('fecha_envio'),
            'remitente' => input('remitente'),
            'compania' => input('compania'),
            'tipo_envio' => input('tipo_envio'),
            'contenido' => input('contenido'),
            'otros_contenidos' => input('otros_contenidos'),
            'peso' => input('peso'),
            'ciudad_destino' => input('ciudad_destino'),
            'empresa_transportadora' => input('empresa_transportadora'),
            'numero_guia' => input('numero_guia'),
            'observacion' => input('observacion')
            ]
        );  
        $this['mensaje'] = "El envío fúe actualizado correctamente";
    }
}
?>
==

<div class="row">
	<div class="col-md-12">				
		<div class="panel panel-primary" id="form_nacionales"> 
		    <div class="panel-heading"> 
		        <h3 class="panel-title">Registrar envío nacional.</h3>
		    </div> 
		    <div class="panel-body">
		        <form data-request="onUpdate" data-request-update="envios: '#result_envios'">				            
		            <div class="row">
		            	<div class="col-md-4">
		                    <label for="fecha_envio">Fecha de envío:</label>
		                    <input type="text" id="fecha_envio" name="fecha_envio" class="form-control" value="{{ nacional.fecha_envio }}" required>
		                </div>
		                <div class="col-md-4">
		                    <label for="remitente">Remitente:</label>
		                    <input type="text" id="remitente" name="remitente" class="form-control" value="{{ nacional.remitente }}" required>
		                </div>
		                <div class="col-md-4">
		                    <label for="compania">Compañia:</label>
		                    <select id="compania" name="compania" class="form-control" >
		                    	<option value="Redes Humanas"  {% if nacional.compania == "Redes Humanas" %}selected{% endif %}>Redes Humanas</option>
		                    	<option value="Sercontratos"  {% if nacional.compania == "Sercontratos" %}selected{% endif %}>Sercontratos</option>
		                    	<option value="Synergo"  {% if nacional.compania == "Synergo" %}selected{% endif %}>Synergo</option>
		                    	<option value="Redes Envíos"  {% if nacional.compania == "Redes Envíos" %}selected{% endif %}>Redes Envíos</option>				                    	
		                    </select>
		                </div>
		                
		                <div class="col-md-4">
		                    <label for="tipo_envio">Tipo de envío:</label>
		                    <select id="tipo_envio" name="tipo_envio" class="form-control" >
		                    	<option value="Caja" {% if nacional.tipo_envio == "Caja" %}selected{% endif %}>Caja</option>
		                    	<option value="Paquete" {% if nacional.tipo_envio == "Paquete" %}selected{% endif %}>Paquete</option>
		                    	<option value="Sobre" {% if nacional.tipo_envio == "Sobre" %}selected{% endif %}>Sobre</option>
		                    	<option value="Otros" {% if nacional.tipo_envio == "Otros" %}selected{% endif %}>Otros</option>				                    	
		                    </select>
		                </div>
		                <div class="col-md-4">
		                    <label for="contenido">Contenido:</label>
		                    <select id="contenido" name="contenido" class="form-control" >
		                    	<option value="Bonos" {% if nacional.contenido == "Bonos" %}selected{% endif %}>Bonos</option>
								<option value="Cartuchos de impresoras" {% if nacional.contenido == "Cartuchos de impresoras" %}selected{% endif %}>Cartuchos de impresoras</option>
								<option value="computador escritorio" {% if nacional.contenido == "computador escritorio" %}selected{% endif %}>computador escritorio</option>
								<option value="Computador portatil" {% if nacional.contenido == "Computador portatil" %}selected{% endif %}>Computador portatil</option>
								<option value="Documentos" {% if nacional.contenido == "Documentos" %}selected{% endif %}>Documentos</option>
								<option value="Dotacion" {% if nacional.contenido == "Dotacion" %}selected{% endif %}>Dotacion</option>
								<option value="Equipos de comunicación" {% if nacional.contenido == "Equipos de comunicación" %}selected{% endif %}>Equipos de comunicación</option>
								<option value="Facturas" {% if nacional.contenido == "Facturas" %}selected{% endif %}>Facturas</option>
								<option value="Impresoras" {% if nacional.contenido == "Impresoras" %}selected{% endif %}>Impresoras</option>
								<option value="Papelerias" {% if nacional.contenido == "Papelerias" %}selected{% endif %}>Papelerias</option>
								<option value="Respuestos" {% if nacional.contenido == "Respuestos" %}selected{% endif %}>Respuestos</option>
								<option value="Otro" {% if nacional.contenido == "Otro" %}selected{% endif %}>Otro</option>
		                    </select>
		                </div>
		                <div class="col-md-4">
		                    <label for="peso">Peso aprox:</label>
		                    <select id="peso" name="peso" class="form-control" >
		                    	<option value="Mas de un 1KG" {% if nacional.peso == "Mas de un 1KG" %}selected{% endif %}>Mas de un 1KG</option>
		                    	<option value="Entre 1 Y 10 KG" {% if nacional.peso == "Entre 1 Y 10 KG" %}selected{% endif %}>Entre 1 Y 10 KG</option>
		                    	<option value="Entre 11 Y 100 KG" {% if nacional.peso == "Entre 11 Y 100 KG" %}selected{% endif %}>Entre 11 Y 100 KG</option>
		                    	<option value="Mas de 100 KG" {% if nacional.peso == "Mas de 100 KG" %}selected{% endif %}>Mas de 100 KG</option>				                    	
		                    </select>
		                </div>

		                <div class="col-md-12" id="div_otros_contenidos" {% if nacional.contenido != "Otro" %}style="display:none"{% endif %}>
		                    <label for="otros_contenidos">Otros contenidos:</label>
		                    <input type="text" id="otros_contenidos" name="otros_contenidos" class="form-control"  value="{{ nacional.otros_contenidos }}">
		                </div>

		                <div class="col-md-4" >
		                    <label for="ciudad_destino">Ciudad destino:</label>
		                    <input type="text" id="ciudad_destino" name="ciudad_destino" class="form-control"  value="{{ nacional.ciudad_destino }}">
		                </div>

		                <div class="col-md-4" >
		                    <label for="empresa_transportadora">Empresa Transportadora:</label>
		                    <input type="text" id="empresa_transportadora" name="empresa_transportadora" class="form-control"  value="{{ nacional.empresa_transportadora }}" required>
		                </div>

		                <div class="col-md-4" >
		                    <label for="numero_guia">Número de guía:</label>
		                    <input type="text" id="numero_guia" name="numero_guia" class="form-control" value="{{ nacional.numero_guia }}" required>
		                </div>

		                <div class="col-md-12">
		                    <label for="observacion">Observación:</label>
		                    <textarea id="observacion" name="observacion" class="form-control" required>{{ nacional.observacion }}</textarea>
		                </div>        				                
		            </div>   
		            <hr>
		            <div class="row">
		                <div id="result_envios" class="col-md-12">
		                    {% partial 'envios' %}
		                </div>
		            </div>
		        </form>
		    </div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
$( "#fecha_envio" ).datepicker({ dateFormat: 'yy-mm-dd' });
} );
</script>